<div id="wrapper">
  <!-- content -->
  <div class="content">
    <div class="main-register-wrap-login">
      <div class="main-register-holder">
        <div class="main-register-wrapper modal_main_login fl-wrap">
          <div class="main-register-header color-bg">
            <div class="main-register-logo fl-wrap">
              <img src="/assets/images/ls-roundel-white.png" alt="">
            </div>
            <div class="carousel" aria-label="Gallery">
              <ol class="carousel__viewport">
                <li id="carousel__slide1" tabindex="0" class="carousel__slide">
                  <span class="text-inside">
                    “We have marked every plot and property on our land registry to its exact geo-location so you can
                    buy land or property with confidence, knowing you would get value for your investments
                  </span>
                </li>
                <li id="carousel__slide2" tabindex="0" class="carousel__slide">
                  <div class="carousel__snapper"></div>
                  <span class="text-inside">
                    “Never get blindsided. Make informed decision on every transaction with concise information on the
                    current situation of lands and properties on our land registry
                  </span>

                </li>
                <li id="carousel__slide3" tabindex="0" class="carousel__slide">
                  <div class="carousel__snapper"></div>
                  <span class="text-inside">
                    “We have marked every plot and property on our land registry to its exact geo-location so you can
                    buy land or property with confidence, knowing you would get value for your investments
                  </span>

                </li>
              </ol>
              <aside class="carousel__navigation">
                <ol class="carousel__navigation-list">
                  <li class="carousel__navigation-item">
                    <a href="#carousel__slide1" class="carousel__navigation-button">Go to slide 1</a>
                  </li>
                  <li class="carousel__navigation-item">
                    <a href="#carousel__slide2" class="carousel__navigation-button">Go to slide 2</a>
                  </li>
                  <li class="carousel__navigation-item">
                    <a href="#carousel__slide3" class="carousel__navigation-button">Go to slide 3</a>
                  </li>
                </ol>
              </aside>
            </div>
            <div class="main-register-bg">
              <div class="mrb_pin"></div>
              <div class="mrb_pin mrb_pin2"></div>
            </div>
            <div class="mrb_dec"></div>
            <div class="mrb_dec mrb_dec2"></div>
          </div>
          <div class="main-register">
            <div class="close-reg"><i class="fal fa-sign-in-alt"></i></div>
            <!--tabs -->
            <div class="tabs-container">
              <div class="tab">
                <!--tab -->
                <div id="tab-1" class="tab-content first-tab">
                  <div class="custom-form">
                    <div *ngIf="model?.forgotPasswordStep == forgotPasswordStep.VerifyUser">
                      <span class="register-text">Forgot Password</span>
                      <p>
                        A message with a verification code will be sent to your Email.
                        Enter your email and click the "Send Verification Code" button to continue.
                      </p>
                      <mat-card-content>
                        <form [formGroup]="form" novalidate (ngSubmit)="sendCode()">
                          <div fxLayout="column">
                            <div class="pass-input-wrap fl-wrap">
                              <label>Email * <span class="dec-icon"><i class="fal fa-envelope"></i></span></label>
                              <input type="text" placeholder="Enter your email address" formControlName="email"
                                required>
                              <div class="error"
                                *ngIf="form.controls['email'].hasError('required') && form.controls['email']?.touched">
                                Email Address is required
                              </div>
                            </div>
                          </div>
                        </form>
                        <div fxLayout="column" *ngIf="errorMessages" class="error">
                          <span *ngFor="let error of errorMessages">{{error.errorDescription}}</span>
                        </div>
                      </mat-card-content>
                      <mat-card-actions>
                        <div fxLayout="row" fxLayoutGap="10px">
                          <span fxFlex></span>
                          <button mat-raised-button color="warn" routerLink="/authentication/login">Cancel</button>
                          <button mat-raised-button color="primary" (click)="sendCode()">
                            Send Verification Code
                          </button>

                        </div>
                      </mat-card-actions>
                    </div>

                    <mat-card fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                      *ngIf="model?.forgotPasswordStep === forgotPasswordStep.VerifySecurityCode">
                      <span class="register-text">Forgot Password</span>
                      <p>Enter the verification code</p>
                      <mat-card-content>
                        <form [formGroup]="form" novalidate (ngSubmit)="verifyCode()">
                          <div fxLayout="column">
                            <div class="pass-input-wrap fl-wrap">
                              <label>Code * <span class="dec-icon"><i class="fal fa-key"></i></span></label>
                              <input type="text" placeholder="Enter the Verification Code" formControlName="code"
                                required>
                              <div class="error"
                                *ngIf="form.controls['code'].hasError('required') && form.controls['code']?.touched">
                                Code is required
                              </div>
                            </div>
                          </div>
                        </form>
                        <div fxLayout="column" *ngIf="errorMessages" class="error">
                          <span *ngFor="let error of errorMessages">{{error.errorDescription}}</span>
                        </div>
                      </mat-card-content>
                      <mat-card-actions>
                        <div fxLayout="row" fxLayoutGap="10px">
                          <span fxFlex></span>
                          <button mat-raised-button color="primary" type="button" (click)="verifyCode()">
                            Verify
                          </button>
                          <button mat-raised-button color="warn" routerLink="/authentication/login">Cancel</button>
                        </div>
                      </mat-card-actions>
                    </mat-card>

                    <mat-card fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                      *ngIf="model?.forgotPasswordStep === forgotPasswordStep.ResetPassword">
                      <span class="register-text">Forgot Password</span>
                      <p>
                        Enter your new password
                      </p>
                      <mat-card-content>
                        <form [formGroup]="form" (ngSubmit)="changePassword()" novalidate>
                          <div fxLayout="column">
                            <div class="pass-input-wrap fl-wrap">
                              <label>Code * <span class="dec-icon"><i class="fal fa-key"></i></span></label>
                              <input type="text" placeholder="Enter New Password" formControlName="newPassword"
                                type="password" required>
                              <div class="error"
                                *ngIf="form.controls['newPassword'].hasError('required') && form.controls['newPassword']?.touched">
                                New Password is required
                              </div>
                            </div>
                            <div class="pass-input-wrap fl-wrap">
                              <label>Code * <span class="dec-icon"><i class="fal fa-key"></i></span></label>
                              <input type="text" placeholder="Confirm New Password" formControlName="confirmNewPassword"
                                type="password" required>
                              <div class="error"
                                *ngIf="form.controls['confirmNewPassword'].hasError('required') && form.controls['confirmNewPassword']?.touched">
                                Confirm New Password is required
                              </div>
                              <div class="error"
                                *ngIf="form.controls['confirmNewPassword'].hasError('matchPassword') && form.controls['confirmNewPassword']?.touched">
                                Confirm New Password must match New Password
                              </div>
                            </div>
                          </div>
                        </form>
                        <div fxLayout="column" *ngIf="errorMessages" class="error">
                          <span *ngFor="let error of errorMessages">{{error.errorDescription}}</span>
                        </div>
                      </mat-card-content>
                      <mat-card-actions>
                        <div fxLayout="row" fxLayoutGap="10px">
                          <span fxFlex></span>
                          <button mat-raised-button color="primary" type="submit" (click)="changePassword()">
                            Change Password
                          </button>
                          <button mat-raised-button color="warn" routerLink="/authentication/login">Cancel</button>
                        </div>
                      </mat-card-actions>
                    </mat-card>

                  </div>
                </div>
                <!--tab end -->
              </div>
              <!--tabs end -->
              <div class="log-separator fl-wrap"><span>or</span></div>
              <div class="soc-log fl-wrap">
                <p>Already have an account?.</p>
                <a routerLink="/authentication/login" class="facebook-log"> Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--register form end -->
  </div>
</div>