<!-- wrapper  -->
<div id="wrapper">
  <!-- content -->
  <div class="content">
    <!--  section  -->
    <!-- breadcrumbs-->
    <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
      <div class="container">
        <div class="breadcrumbs-list">
          <a>Home</a> <span>Property Search</span>
        </div>
        <div class="share-holder hid-share">
          <!-- <button class="share-btn showshare sfcs"> <i class="fas fa-share-alt"></i> Share </button>
          <div class="share-container  isShare"></div> -->
        </div>
      </div>
    </div>
    <!-- breadcrumbs end -->
    <!-- section -->
    <section class="gray-bg small-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="section-title fl-wrap">
              <h4>Browse Hot Offers</h4>
              <h2>Latest Properties</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div class="listing-filters gallery-filters">
              <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*"> <span>All Properties</span></a>
              <a href="#" class="gallery-filter" data-filter=".for_sale"> <span>Lands</span></a>
              <a href="#" class="gallery-filter" data-filter=".for_rent"> <span>Buildings</span></a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- grid-item-holder-->
        <div class="grid-item-holder gallery-items gisp fl-wrap" *ngIf="propertyListing.length > 0">
          <!-- gallery-item-->
          <div class="gallery-item {{property.property_type === 'Land'? for_sale : for_rent}}"
            *ngFor="let property of propertyListing | paginate: { itemsPerPage: 20, currentPage: p, totalItems: total }">
            <!-- listing-item -->
            <div class="listing-item">
              <article class="geodir-category-listing fl-wrap">
                <div class="geodir-category-img fl-wrap">
                  <div (click)="openProductDetail(property.PropertyId)" class="geodir-category-img_item">
                    <app-generic-image-loading-component [alt]="property.PropertyTitle" [id]="'id-'+property.PropertyId"
                      [imageLoading]="true"
                      [imageLoadingUrl]="'https://media.tenor.com/images/f864cbf3ea7916572605edd3b3fe637f/tenor.gif'"
                      [imageUrl]="property.MapSnapshot"
                      [noImageUrl]="'/assets/images/all/3.jpg'"
                      [imageHeight]="'1200'" [imageWidth]="'1200'">
                    </app-generic-image-loading-component>
                    <div class="overlay"></div>
                  </div>
                  <div class="geodir-category-location">
                    <a routerLink="/property-search/property/{{property.PropertyId}}" class="single-map-item tolt"
                      data-newlatitude="40.72956781" data-newlongitude="-73.99726866" data-microtip-position="top-left"
                      data-tooltip="On the map"><i class="fas fa-map-marker-alt"></i>
                      <span> {{property.Metadata.property_address}}</span></a>
                  </div>
                  <ul class="list-single-opt_header_cat">
                    <li><a class="cat-opt blue-bg">{{property.Metadata.property_type}}</a></li>
                  </ul>
                  <!-- <button class="geodir_save-btn tolt" data-microtip-position="left" data-tooltip="Save">
                    <span><i class="fal fa-heart"></i></span>
                  </button>
                  <button class="compare-btn tolt" data-microtip-position="left" data-tooltip="Compare">
                    <span><i class="fal fa-random"></i></span>
                  </button> -->
                  <div class="geodir-category-listing_media-list">
                  </div>
                </div>
                <div class="geodir-category-content fl-wrap">
                  <h3 class="title-sin_item">{{property.PropertyTitle}}</h3>
                  <div class="geodir-category-content-details">
                    <ul>
                      <li><i class="fal fa-cube"></i><span>{{property.Metadata.property_size}} ft2</span></li>
                    </ul>
                  </div>
                  <div class="geodir-category-footer fl-wrap">
                    <div class="list-single-opt_header_cat">
                      <a routerLink="/property-search/property/{{property.PropertyId}}" class="cat-opt-button blue-bg">
                        <i class="fas fa-map-marker-alt"></i>
                        &nbsp;
                        <span>Get Full Access</span>
                      </a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <!-- listing-item end-->
          </div>
          <!-- gallery-item end-->
        </div>
        <!-- grid-item-holder-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px;">
          <pagination-controls id="home-search-id" (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)" maxSize="20" directionLinks="true" autoHide="false"
            responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
          </pagination-controls>
          <!-- <a routerLink="/search" routerLinkActive="active" class="mt-20 mb-20 herroo-button">
            View All Properties
          </a> -->
        </div>
      </div>
    </section>
    <!-- section end-->


    <div style="display:block; margin-bottom: 210px;"></div>
    <!-- content end -->
    <!-- subscribe-wrap -->
    <div class="subscribe-wrap fl-wrap">
      <div class="container">
        <div class="subscribe-container fl-wrap color-bg">
          <div class="pwh_bg"></div>
          <div class="mrb_dec mrb_dec3"></div>
          <div class="row">
            <div class="col-md-6">
              <div class="subscribe-header">
                <h4>newsletter</h4>
                <h3>Sign up for newsletter and get latest news and update</h3>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="footer-widget fl-wrap">
                <div class="subscribe-widget fl-wrap">
                  <div class="subcribe-form">
                    <form id="subscribe">
                      <input class="enteremail fl-wrap" name="email" id="subscribe-email" placeholder="Enter Your Email"
                        spellcheck="false" type="text">
                      <button type="submit" id="subscribe-button" class="subscribe-button color-bg"> Subscribe</button>
                      <label for="subscribe-email" class="subscribe-message"></label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- subscribe-wrap end -->
  <app-footer [showPageListing]="true"></app-footer>