<!-- wrapper  -->
<div id="wrapper">
    <!-- content -->
    <div class="content">
        <!-- breadcrumbs-->
        <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
            <div class="container-fluid">
                <div class="breadcrumbs-list">
                    <a>Home</a> <span>Compare Listing</span>
                </div>
                <div class="share-holder hid-share">
                    <a class="share-btn showshare sfcs"> <i class="fas fa-share-alt"></i> Share </a>
                    <div class="share-container  isShare"></div>
                </div>
            </div>
        </div>
        <!-- breadcrumbs end -->

        <section class="color-bg small-padding">
            <div class="container">
                <div class="boo-wrapper">
                    <div class="boo">
                        <div class="face"></div>
                    </div>
                    <div class="shadow"></div>

                    <h1>Whoops! Not available</h1>

                    <div class="title"> We couldn't find the page you
                        <br />
                        were looking for.
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>