<!-- wrapper  -->
<div id="wrapper">
    <!-- content -->
    <div class="content">
        <!--  section  -->
        <section class="hero-section hero-section_dec" data-scrollax-parent="true" style="padding: 0px 0px 50px 0px;">
            <div class="half-carousel-item fl-wrap">
                <div class="bg-wrap bg-parallax-wrap-gradien" style="border-radius: 0px !important;">
                    <div class="bg"
                        style="background-image: url('./assets/images/bg/buy-house.png');background-size:cover"
                        data-bg="/images/bg/buy-house.png"></div>
                </div>
                <div class="half-carousel-content">
                    <div class="land-buy-header-text">
                        <h6 class="buy-land" style="text-align: center;">Buy House now and Pay back Small Small
                        </h6>
                    </div>
                    <div class="row buy-land-div">
                        <div class="col-md-4 col-lg-4">
                            <p class="font-16">Upto 12 Months Repayment period</p>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <p class="font-16">Get up to N5 Million Loan</p>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <p class="font-16">No Collateral is Required</p>
                        </div>
                    </div>
                    <div class="row buy-land-btn">
                        <a href="#currentlyAvailable" class="herroo-button" tabindex="0">Eligibility Options</a>
                    </div>
                </div>
            </div>
        </section>
        <!--  section  end-->
        <!-- section -->
        <section>
            <div class="container">
                <!-- section-title -->
                <div class="section-title st-center fl-wrap">
                    <h2>3 Simple Steps to</h2>
                    <h2> Finance your Dream Land</h2>
                </div>
                <!-- section-title end -->
                <div class="clearfix"></div>
                <div class="row">
                    <!-- services-item-1 -->
                    <div class="col-md-4">
                        <div class="services-item-1 fl-wrap">
                            <i class="fal fa-headset"></i>
                            <h4>Select Plot</h4>
                            <p class="center">Select a plot of land for Estate of your choice then fill the loan form.
                            </p>

                        </div>
                    </div>
                    <!-- services-item-1  end-->
                    <!-- services-item-1 -->
                    <div class="col-md-4">
                        <div class="services-item-1 fl-wrap">
                            <i class="fal fa-users-cog"></i>
                            <h4>Loan Offers</h4>
                            <p class="center">Get multiple loan offers then accept the offer that favours you</p>
                            <!-- <a href="#" class="serv-link">Read more</a> -->
                        </div>
                    </div>
                    <!-- services-item-1  end-->
                    <!-- services-item-1 -->
                    <div class="col-md-4">
                        <div class="services-item-1 fl-wrap">
                            <i class="fal fa-phone-laptop"></i>
                            <h4>Land Owner</h4>
                            <p class="center">Become a Land Owner</p>
                            <!-- <a href="#" class="serv-link">Read more</a> -->
                        </div>
                    </div>
                    <!-- services-item-1  end-->
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <!-- section-title -->
                <div class="section-title st-center fl-wrap">
                    <h2> Your Land loan Calculator</h2>
                </div>
                <!-- section-title end -->
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="services-item-1 fl-wrap">
                            <div class="calculator">
                                <div class="row">
                                    <div class="col-md-2 col-lg"></div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6 col-lg6">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="services-item-1 fl-wrap">

                        </div>
                    </div>
                </div>
                <div class="row monthly-info">
                    <h5 class="font-28"> Note: Monthly payment estimates are for informational purpose and do not
                        represent a
                        financing offer from our financing partners. Other taxes may apply.</h5>
                </div>

                <div class="row monthly-info">
                    <a routerLink="/property-search/building-listing" routerLinkActive="active" class="herroo-button"
                        tabindex="0">Search from lands within your budget</a>
                </div>
            </div>
        </section>

        <section id="currentlyAvailable">
            <div class="section-title st-center fl-wrap">
                <h2> Mortgage Option is Currently Available in these locations</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="services-item-1 fl-wrap-2" style="height: 400px;">
                        <div class="half-carousel-item">
                            <div class="bg"
                                style="background-image: url('./assets/images/bg/lagos.png');background-size:cover"
                                data-bg="/images/bg/lagos.png"></div>
                            <div class="half-carousel-content">
                                <h3><a href="#">Lagos</a> </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="services-item-1 fl-wrap-2" style="height: 400px;">
                        <div class="half-carousel-item">
                            <div class="bg"
                                style="background-image: url('./assets/images/bg/lagos.png');background-size:cover"
                                data-bg="/images/bg/lagos.png"></div>
                            <div class="half-carousel-content">
                                <h3><a href="#">Abuja</a> </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="services-item-1 fl-wrap-2" style="height: 400px;">
                        <div class="half-carousel-item">
                            <div class="bg"
                                style="background-image: url('./assets/images/bg/lagos.png');background-size:cover"
                                data-bg="/images/bg/lagos.png"></div>
                            <div class="half-carousel-content">
                                <h3><a href="#">Port Harcourt</a> </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gray-bg">
            <div class="container">
                <!-- section-title -->
                <div class="section-title st-center fl-wrap">
                    <h2> Frequently Asked Question</h2>
                </div>
                <div class="row">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-8 col-lg-8">
                        <div class="list-single-main-container">
                            <!--   list-single-main-item -->
                            <div class="list-single-main-item fl-wrap" id="faq1">
                                <!--   accordion-lite -->
                                <div class="accordion-lite-container fl-wrap">
                                    <div class="accordion-lite-header fl-wrap">How long does the sending process take?
                                        <i class="fas fa-plus"></i>
                                    </div>
                                    <div class="accordion-lite_content fl-wrap">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar
                                            neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla
                                            posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam
                                            erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor
                                            iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .
                                        </p>
                                    </div>
                                </div>
                                <!--   accordion-lite end -->
                                <!--   accordion-lite -->
                                <div class="accordion-lite-container fl-wrap">
                                    <div class="accordion-lite-header fl-wrap">Can I use more than one payment method to
                                        pay for a reservation? <i class="fas fa-plus"></i></div>
                                    <div class="accordion-lite_content fl-wrap">
                                        <p> Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere
                                            sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat
                                            volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis
                                            massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                    </div>
                                </div>
                                <!--   accordion-lite end -->
                                <!--   accordion-lite -->
                                <div class="accordion-lite-container fl-wrap">
                                    <div class="accordion-lite-header fl-wrap">How do I edit or remove a payment method?
                                        <i class="fas fa-plus"></i>
                                    </div>
                                    <div class="accordion-lite_content fl-wrap">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar
                                            neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla
                                            posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. </p>
                                    </div>
                                </div>
                                <div class="accordion-lite-container fl-wrap">
                                    <div class="accordion-lite-header fl-wrap">Can I pay my own taxes and insurance? <i
                                            class="fas fa-plus"></i></div>
                                    <div class="accordion-lite_content fl-wrap">
                                        <p> Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere
                                            sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat
                                            volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis
                                            massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                    </div>
                                </div>
                                <div class="accordion-lite-container fl-wrap">
                                    <div class="accordion-lite-header fl-wrap">Can I pay my own taxes and insurance? <i
                                            class="fas fa-plus"></i></div>
                                    <div class="accordion-lite_content fl-wrap">
                                        <p> Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere
                                            sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat
                                            volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis
                                            massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                    </div>
                                </div>
                                <!--   accordion-lite end -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2"></div>
                </div>
            </div>
        </section>

    </div>
    <!-- subscribe-wrap end -->

</div>
<!-- wrapper end -->
<app-footer [showPageListing]="true"></app-footer>