<!-- wrapper  -->
<div id="wrapper">
    <!-- content -->
    <div class="content">
        <!-- breadcrumbs-->
        <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
            <div class="container">
                <div class="breadcrumbs-list">
                    <a>Home</a><a>User dashboard</a> <span>Employment Information</span>
                </div>
                <div class="share-holder hid-share">
                    <a class="share-btn showshare sfcs"> <i class="fas fa-exclamation"></i> Help </a>
                    <div class="share-container  isShare"></div>
                </div>
            </div>
        </div>
        <!-- breadcrumbs end -->
        <!--  section  -->
        <section class="gray-bg">
            <div class="section-title st-center fl-wrap">
                <h2>Employment Information</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-8 col-lg-8">
                        <div class="services-item fl-wrap">
                            <div class="dasboard-widget-box fl-wrap">
                                <div class="custom-form">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>What best describe you? </label>
                                            <div class="row">
                                                <div class="col-sm-6 col-lg-6 col-md-6">
                                                    <input id="check-aaa5" type="radio" name="gender"
                                                        value="business llient" checked> Business Client
                                                </div>
                                                <div class="col-sm-6 col-lg-6 col-md-6">
                                                    <input id="check-aaa5" type="radio" name="gender"
                                                        value="salary earner" checked> Salary Earner
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <h4 class="text-left mt-20 mb-20">Employer Details</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Name of Employer <span class="dec-icon"><i
                                                        class="far fa-user"></i></span></label>
                                            <input type="text" placeholder="Name of Employer" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Name of Employer <span class="dec-icon"><i
                                                        class="far fa-user"></i></span></label>
                                            <input type="text" placeholder="Name of Employer" value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Address Line 1 <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="Address Line 1" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Address Line 2 <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="Address Line 2" value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Nearest Bus Stop <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="Nearest Bus Stop" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>State <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="State" value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>City <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="City" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Local Government Area <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="Local Government Area" value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Date of employment <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="Date of employment" value="" />
                                        </div>
                                    </div>
                                    <div>
                                        <h4 class="text-left mt-20 mb-20">Salary and bank details</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Bank verification number <span class="dec-icon"><i
                                                        class="far fa-badge-check"></i></span></label>
                                            <input type="text" placeholder="Bank verification number" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Monthly net salary (your current take home salary) <span
                                                    class="dec-icon"><i
                                                        class="fal fa-money-bill-wave"></i></span></label>
                                            <input type="text"
                                                placeholder="Monthly net salary (your current take home salary)"
                                                value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Primary bank <span class="dec-icon"><i
                                                        class="fal fa-door-closed"></i></span></label>
                                            <input type="text" placeholder="Primary bank" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Primary bank account <span class="dec-icon"><i
                                                        class="fal fa-door-closed"></i></span></label>
                                            <input type="text" placeholder="Primary bank account" value="" />
                                        </div>
                                    </div>
                                    <div class="row buy-land-btn"></div>
                                    <a href="/application-mortgage-4.html" class="btn  color-bg float-btn">Naxt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2"></div>
            </div>
        </section>
    </div>
</div>

<!-- wrapper end -->