<!-- wrapper  -->
<div id="wrapper">
    <!-- content -->
    <div class="content">
        <!-- breadcrumbs-->
        <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
            <div class="container">
                <div class="breadcrumbs-list">
                    <a>Home</a><a>User dashboard</a> <span>Employment Information</span>
                </div>
                <div class="share-holder hid-share">
                    <a class="share-btn showshare sfcs"> <i class="fas fa-exclamation"></i> Help </a>
                    <div class="share-container  isShare"></div>
                </div>
            </div>
        </div>
        <!-- breadcrumbs end -->
        <!--  section  -->
        <section class="gray-bg">
            <div class="section-title st-center fl-wrap">
                <h2>Employment Information</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-8 col-lg-8">
                        <div class="services-item fl-wrap">
                            <div class="dasboard-widget-box fl-wrap" *ngIf="!isLoading">
                                <form *ngIf="EmploymentInfoForm" [formGroup]="EmploymentInfoForm" role="form">
                                    <div class="custom-form">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12 col-md-12">
                                                <label>What best describe you? </label>
                                                <div class="row">
                                                    <div class="col-sm-4 col-lg-4 col-md-4">
                                                        <input id="check-aaa5" type="radio"
                                                            name="customer_employment_status" value="business" checked>
                                                        Business Person
                                                    </div>
                                                    <div class="col-sm-4 col-lg-4 col-md-4">
                                                        <input id="check-aaa5" type="radio"
                                                            name="customer_employment_status" value="salary earner"
                                                            checked>
                                                        Salary Earner
                                                    </div>
                                                    <div class="col-sm-4 col-lg-4 col-md-4">
                                                        <input id="check-aaa5" type="radio"
                                                            name="customer_employment_status" value="both" checked> Both
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <h4 class="text-left mt-20 mb-20">Employer Details</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12 col-md-12">
                                                <label>Name of Employer <span class="dec-icon"><i
                                                            class="far fa-user"></i></span></label>
                                                <input type="text" placeholder="Name of Employer"
                                                    formControlName="customer_employer_name" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Office Number <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="number" placeholder="Office Number"
                                                    formControlName="customer_employer_office_number" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Address <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="Company or Office address"
                                                    formControlName="customer_employer_address" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Nearest Bus Stop <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="Nearest Bus Stop"
                                                    formControlName="customer_employer_nearest_bustop" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>State <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="State"
                                                    formControlName="customer_employer_state" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>City <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="City"
                                                    formControlName="customer_employer_city" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Local Government Area <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="Local Government Area"
                                                    formControlName="customer_employer_lga" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Country <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="Country"
                                                    formControlName="customer_employer_country" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Date of employment <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="Date of employment"
                                                    formControlName="customer_employer_doe" />
                                            </div>
                                        </div>
                                        <div>
                                            <h4 class="text-left mt-20 mb-20">Salary and bank details</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Bank verification number <span class="dec-icon"><i
                                                            class="far fa-badge-check"></i></span></label>
                                                <input type="text" placeholder="Bank verification number"
                                                    formControlName="customer_account_bvn" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Monthly net salary (your current take home salary) <span
                                                        class="dec-icon"><i
                                                            class="fal fa-money-bill-wave"></i></span></label>
                                                <input type="text"
                                                    placeholder="Monthly net salary (your current take home salary)"
                                                    formControlName="customer_account_monthly_salary" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Primary bank <span class="dec-icon"><i
                                                            class="fal fa-door-closed"></i></span></label>
                                                <input type="text" placeholder="Primary bank"
                                                    formControlName="customer_account_primary_bank" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Primary bank account <span class="dec-icon"><i
                                                            class="fal fa-door-closed"></i></span></label>
                                                <input type="text" placeholder="Primary bank account"
                                                    formControlName="customer_account_primary_bank_account" />
                                            </div>
                                        </div>
                                        <div class="row buy-land-btn"></div>
                                        <div class="geodir-category-footer fl-wrap">
                                            <button (click)="submitEmployerInfo(1)"
                                                [disabled]="!EmploymentInfoForm.valid" mat-raised-button color="accent">
                                                Save Update
                                            </button>
                                            <button (click)="submitEmployerInfo(2)"
                                                [disabled]="!EmploymentInfoForm.valid" mat-flat-button color="primary">
                                                Save And Continue
                                            </button>
                                        </div>
                                    </div>

                                    <br />
                                    <!-- {{this.EmploymentInfoForm.value | json}} -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2"></div>
            </div>
        </section>
    </div>
</div>

<!-- wrapper end -->