<!-- wrapper  -->
<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #sidenav class="mat-elevation-z4 no-border" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'push'"
    [opened]="isShowing" class="example-container-sidebar">
    <!-- Component starts here -->
    <app-vertical-tab-group [(showContent)]="showFullSidenav" [placement]="tabsPlacement">
      <app-vertical-tab>
        <ng-template verticalTabLabel>
          <mat-icon> person_pin_circle</mat-icon>
          <span class="info-xs">Estate Info</span>
        </ng-template>
        <ng-template verticalTabContent>
          <div fxFlex>
            <div id="wrapper" style="padding: 0px;">
              <!-- content -->
              <div class="content">
                <div class="property-loading fw-map big_map" *ngIf="showView; else viewLoaded">
                  <div class="fancy-spinner">
                    <div class="ring"></div>
                    <div class="ring"></div>
                    <div class="dot"></div>
                  </div>
                </div>
                <ng-template #viewLoaded>
                  <div class="locked-region gray-bg small-padding fl-wrap" *ngIf="!showEstateInfo">
                    <!-- Apply Charges algorithm -->
                    <button class="like-btn" (click)="showInfoAndCharge('SHOW-ESTATE-INFO')">
                      <i class="fas fa-times"></i>
                      View Information
                    </button>
                    <button class="like-btn" (click)="openSidebar()">
                      <i class="fas fa-times"></i>
                      close
                    </button>
                  </div>
                  <div class="gray-bg small-padding fl-wrap" *ngIf="showEstateInfo">
                    <div class="container-fluid">
                      <div class="row" style="display: flex;justify-content: flex-end;">
                        <button class="like-btn" (click)="openSidebar()">
                          <i class="fas fa-times"></i>
                          close
                        </button>
                      </div>
                      <div class="row">
                        <!--  listing-single content -->
                        <div class="col-md-12">
                          <div class="list-single-main-wrapper fl-wrap">
                            <div class="list-single-main-media fl-wrap" id="estate2">
                              <!-- gallery-items   -->
                              <div class="gallery-items grid-small-pad  list-single-gallery three-coulms lightgallery">
                                <!-- 1 -->
                                <div class="gallery-item ">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/1.jpg" alt="">
                                      <a href="assets/images/all/1.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 1 end -->
                                <!-- 2 -->
                                <div class="gallery-item">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/8.jpg" alt="">
                                      <a href="assets/images/all/8.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 2 end -->
                                <!-- 3 -->
                                <div class="gallery-item gallery-item-estateond">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/3.jpg" alt="">
                                      <a href="assets/images/all/3.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 3 end -->
                                <!-- 4 -->
                                <div class="gallery-item">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/4.jpg" alt="">
                                      <a href="assets/images/all/4.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 4 end -->
                                <!-- 5 -->
                                <div class="gallery-item">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/5.jpg" alt="">
                                      <a href="assets/images/all/5.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 5 end -->
                                <!-- 7 -->
                                <div class="gallery-item">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/9.jpg" alt="">
                                      <a href="assets/images/all/9.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 7 end -->
                              </div>
                              <!-- end gallery items -->
                            </div>

                            <div class="list-single-main-container fl-wrap" id="estate3">
                              <!-- list-single-main-item -->
                              <div class="list-single-main-item fl-wrap">
                                <div class="list-single-main-item-title">
                                  <h3>{{ESTATE_INFO.PropertyTitle}}</h3>
                                </div>
                                <div class="geodir-category-location fl-wrap">
                                  <a href="#">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ESTATE_INFO.property_address}},
                                    {{ESTATE_INFO.property_country}}
                                  </a>
                                  <div class="listing-rating card-popup-rainingvis" data-starrating2="4">
                                    <span class="re_stars-title">{{ESTATE_INFO.property_status}}</span>
                                  </div>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                  <p>{{ESTATE_INFO.property_description}}</p>
                                </div>
                                <button class="like-btn" (click)="claimProperty(ESTATE_INFO)">
                                  Claim Property
                                </button>
                              </div>
                              <!-- list-single-main-item end -->
                              <!-- list-single-main-item -->
                              <div class="list-single-main-item fl-wrap">
                                <div class="list-single-main-item-title">
                                  <h3>Details</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                  <div class="details-list">
                                    <ul>
                                      <li *ngIf="ESTATE_INFO.property_size !== 'Not Available'">
                                        <span>Property Lot Size:</span>
                                        {{ESTATE_INFO.property_size}}m2
                                      </li>
                                      <li *ngIf="ESTATE_INFO.property_bathroom_count !== 'Not Available'">
                                        <span>Bathrooms:</span>{{ESTATE_INFO.property_bathroom_count}}
                                      </li>

                                      <li *ngIf="ESTATE_INFO.property_bedroom_count !== 'Not Available'">
                                        <span>Bedrooms:</span>{{ESTATE_INFO.property_bedroom_count}}
                                      </li>
                                      <li *ngIf="ESTATE_INFO.property_parking_space_count !== 'Not Available'">
                                        <span>Garage Size:</span>
                                        {{ESTATE_INFO.property_parking_space_count}}
                                      </li>
                                      <li *ngIf="ESTATE_INFO.property_type !== 'Not Available'">
                                        <span>Type:</span>{{ESTATE_INFO.property_type}}
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <!-- list-single-main-item end -->
                              <!-- list-single-main-item -->
                              <div class="list-single-main-item fl-wrap" id="estate5"
                                *ngIf="ESTATE_INFO.property_video_url !== 'Not Available'">
                                <div class="list-single-main-item-title">
                                  <h3>Video</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                  <div class="video-box fl-wrap">
                                    <img src="assets/images/all/7.jpg" class="respimg" alt="">
                                    <a class="video-box-btn image-popup color-bg" href="https://vimeo.com/158059890"><i
                                        class="fas fa-play"></i></a>
                                  </div>
                                </div>
                              </div>
                              <!-- list-single-main-item end -->
                              <!-- list-single-main-item -->
                              <div class="list-single-main-item fl-wrap"
                                *ngIf="ESTATE_INFO.property_amenities !== 'Not Available'">
                                <div class="list-single-main-item-title">
                                  <h3>Neighborhood</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                  <div class="listing-features ">
                                    <ul>
                                      <li>
                                        <span><i class="fal fa-dumbbell"></i> Gym</span>
                                      </li>
                                      <li>
                                        <span><i class="fal fa-wifi"></i> Wi Fi</span>
                                      </li>
                                      <li>
                                        <span><i class="fal fa-parking"></i> Parking</span>
                                      </li>
                                      <li>
                                        <span><i class="fal fa-cloud"></i> Air Conditioned</span>
                                      </li>
                                      <li>
                                        <span><i class="fal fa-swimmer"></i> Pool</span>
                                      </li>
                                      <li>
                                        <span><i class="fal fa-cctv"></i> Security</span>
                                      </li>
                                      <li>
                                        <span>
                                          <i class="fal fa-washer"></i> Laundry Room</span>
                                      </li>
                                      <li>
                                        <span>
                                          <i class="fal fa-utensils"></i>
                                          Equipped Kitchen
                                        </span>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <!-- list-single-main-item end -->

                            </div>
                          </div>
                        </div>
                        <!-- listing-single content end-->
                      </div>
                      <div class="fl-wrap limit-box"></div>
                    </div>
                  </div>
                </ng-template>
              </div>
              <!-- content end -->
            </div>
            <!-- wrapper end -->
          </div>
        </ng-template>
      </app-vertical-tab>
      <app-vertical-tab>
        <ng-template verticalTabLabel>
          <!-- <mat-icon>chat_bubble_outline</mat-icon> -->
          <i class="fas fa-info"></i>
          <span class="info-xs">Property Info</span>
        </ng-template>
        <ng-template verticalTabContent>
          <div fxFlex>
            <div id="wrapper" style="padding: 0px;">
              <!-- content -->
              <div class="content">
                <div class="property-loading fw-map big_map" *ngIf="showView; else viewLoaded">
                  <div class="fancy-spinner">
                    <div class="ring"></div>
                    <div class="ring"></div>
                    <div class="dot"></div>
                  </div>
                </div>
                <ng-template #viewLoaded>
                  <div class="locked-region gray-bg small-padding fl-wrap" *ngIf="!showPropertyInfo">
                    <!-- Apply Charges algorithm -->
                    <button class="like-btn" (click)="showInfoAndCharge('SHOW-PROPERTY-INFO')">
                      <i class="fas fa-times"></i>
                      View Information
                    </button>
                    <button class="like-btn" (click)="openSidebar()">
                      <i class="fas fa-times"></i>
                      close
                    </button>
                  </div>
                  <div class="gray-bg small-padding fl-wrap" *ngIf="showPropertyInfo">
                    <div class="container-fluid">
                      <div class="row" style="display: flex;justify-content: flex-end;">
                        <button class="like-btn" (click)="openSidebar()">
                          <i class="fas fa-times"></i>
                          close
                        </button>
                      </div>
                      <div class="row">
                        <!--  listing-single content -->
                        <div class="col-md-12">
                          <div class="list-single-main-wrapper fl-wrap">
                            <div class="list-single-main-media fl-wrap" id="sec2">
                              <!-- gallery-items   -->
                              <div class="gallery-items grid-small-pad  list-single-gallery three-coulms lightgallery">
                                <!-- 1 -->
                                <div class="gallery-item ">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/1.jpg" alt="">
                                      <a href="assets/images/all/1.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 1 end -->
                                <!-- 2 -->
                                <div class="gallery-item">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/8.jpg" alt="">
                                      <a href="assets/images/all/8.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 2 end -->
                                <!-- 3 -->
                                <div class="gallery-item gallery-item-second">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/3.jpg" alt="">
                                      <a href="assets/images/all/3.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 3 end -->
                                <!-- 4 -->
                                <div class="gallery-item">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/4.jpg" alt="">
                                      <a href="assets/images/all/4.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 4 end -->
                                <!-- 5 -->
                                <div class="gallery-item">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/5.jpg" alt="">
                                      <a href="assets/images/all/5.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 5 end -->
                                <!-- 7 -->
                                <div class="gallery-item">
                                  <div class="grid-item-holder">
                                    <div class="box-item">
                                      <img src="assets/images/all/9.jpg" alt="">
                                      <a href="assets/images/all/9.jpg" class="gal-link popup-image"><i
                                          class="fa fa-search"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <!-- 7 end -->
                              </div>
                              <!-- end gallery items -->
                            </div>                          
                            <div class="list-single-main-container fl-wrap" id="sec3">
                              <!-- list-single-main-item -->
                              <div class="list-single-main-item fl-wrap">
                                <div class="list-single-main-item-title">
                                  <h3>{{propertView.PropertyName}}</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                  <p>{{propertView.property_description}}</p>
                                </div>                              
                              </div>
                              <div class="breadcrumbs fw-breadcrumbs smpar fl-wrap">
                                <div class="container-fluid">
                                  <button (click)="packageUnitForExport(1)" class="like-btn">                                    
                                    Buy Property
                                  </button>
                                  <button (click)="packageUnitForExport(0)" class="like-btn">                                 
                                    Bookmark property
                                  </button>
                                  <button class="like-btn" (click)="claimProperty(propertView)">
                                    Claim Property
                                  </button>
                                </div>
                              </div>
                              <!-- list-single-main-item end -->
                              <!-- list-single-main-item -->
                              <div class="list-single-main-item fl-wrap">
                                <div class="list-single-main-item-title">
                                  <h3>Details</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                  <div class="details-list">
                                    <ul>
                                      <li *ngIf="propertView.property_size !== 'Not Available'">
                                        <span>Property Lot Size:</span>
                                        {{propertView.property_size}} m2
                                      </li>
                                      <li *ngIf="propertView.property_bathroom_count !== 'Not Available'">
                                        <span>Bathrooms:</span>{{propertView.property_bathroom_count}}
                                      </li>

                                      <li *ngIf="propertView.property_bedroom_count !== 'Not Available'">
                                        <span>Bedrooms:</span>{{propertView.property_bedroom_count}}
                                      </li>
                                      <li *ngIf="propertView.property_parking_space_count !== 'Not Available'">
                                        <span>Garage Size:</span>
                                        {{propertView.property_parking_space_count}}
                                      </li>
                                      <li *ngIf="propertView.property_type !== 'Not Available'">
                                        <span>Type:</span>{{propertView.property_type}}
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <!-- list-single-main-item end -->
                              <!-- list-single-main-item -->
                              <div class="list-single-main-item fl-wrap" id="sec5"
                                *ngIf="propertView.property_video_url !== 'Not Available'">
                                <div class="list-single-main-item-title">
                                  <h3>Video</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                  <div class="video-box fl-wrap">
                                    <img src="assets/images/all/7.jpg" class="respimg" alt="">
                                    <a class="video-box-btn image-popup color-bg" href="https://vimeo.com/158059890"><i
                                        class="fas fa-play"></i></a>
                                  </div>
                                </div>
                              </div>
                              <!-- list-single-main-item end -->
                              <!-- list-single-main-item -->
                              <div class="list-single-main-item fl-wrap"
                                *ngIf="propertView.property_amenities !== 'Not Available'">
                                <div class="list-single-main-item-title">
                                  <h3>Features</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                  <div class="listing-features ">
                                    <ul>
                                      <li><a href="#"><i class="fal fa-dumbbell"></i> Gym</a></li>
                                      <li><a href="#"><i class="fal fa-wifi"></i> Wi Fi</a></li>
                                      <li><a href="#"><i class="fal fa-parking"></i> Parking</a></li>
                                      <li><a href="#"><i class="fal fa-cloud"></i> Air Conditioned</a>
                                      </li>
                                      <li><a href="#"><i class="fal fa-swimmer"></i> Pool</a></li>
                                      <li><a href="#"><i class="fal fa-cctv"></i> Security</a></li>
                                      <li><a href="#"><i class="fal fa-washer"></i> Laundry Room</a>
                                      </li>
                                      <li><a href="#"><i class="fal fa-utensils"></i> Equipped
                                          Kitchen</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <!-- list-single-main-item end -->

                            </div>
                          </div>
                        </div>
                        <!-- listing-single content end-->
                      </div>
                      <div class="fl-wrap limit-box"></div>
                    </div>
                  </div>
                </ng-template>
              </div>
              <!-- content end -->
            </div>
            <!-- wrapper end -->
          </div>
        </ng-template>
      </app-vertical-tab>
      <app-vertical-tab>
        <ng-template verticalTabLabel>
          <mat-icon> 360</mat-icon>
          <span class="info-xs">StreetView</span>
        </ng-template>
        <ng-template verticalTabContent>
          <div fxFlex>
            <div class="locked-region gray-bg small-padding fl-wrap" *ngIf="!showPropertyStreetView">
              <!-- Apply Charges algorithm -->
              <button class="like-btn" (click)="showInfoAndCharge('SHOW-PROPERTY-STREETVIEW')">
                <i class="fas fa-times"></i>
                View Information
              </button>
              <button class="like-btn" (click)="openSidebar()">
                <i class="fas fa-times"></i>
                close
              </button>
            </div>
            <div *ngIf="showPropertyStreetView">
              <div class="container-fluid">
                <div class="row" style="display: flex;justify-content: flex-end;">
                  <button class="like-btn" (click)="openSidebar()">
                    <i class="fas fa-times"></i>
                    close
                  </button>
                </div>
                <div class="row">
                  <agm-map [latitude]="locationUnitLat" [longitude]="locationUnitLong">
                    <agm-marker [latitude]="locationUnitLat" [longitude]="locationUnitLong"></agm-marker>
                  </agm-map>
                  <app-street-view [latitude]="locationUnitLat" [longitude]="locationUnitLong"></app-street-view>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </app-vertical-tab>
      <app-vertical-tab>
        <ng-template verticalTabLabel>
          <mat-icon>restore</mat-icon>
          <span class="info-xs">Property History</span>
        </ng-template>
        <ng-template verticalTabContent>
          <div fxFlex>
            <div class="locked-region gray-bg small-padding fl-wrap" *ngIf="!showPropertyHistory">
              <!-- Apply Charges algorithm -->
              <button class="like-btn" (click)="showInfoAndCharge('SHOW-PROPERTY-HISTORY')">
                <i class="fas fa-times"></i>
                View Information
              </button>
              <button class="like-btn" (click)="openSidebar()">
                <i class="fas fa-times"></i>
                close
              </button>
            </div>
            <div class="locked-region gray-bg small-padding fl-wrap" *ngIf="showPropertyHistory">
              <div class="container-fluid">
                <div class="row" style="display: flex;justify-content: flex-end;">
                  <button class="like-btn" (click)="openSidebar()">
                    <i class="fas fa-times"></i>
                    close
                  </button>
                </div>
                <div class="row">
                  <h4>Show Property History</h4>

                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </app-vertical-tab>
      <app-vertical-tab>
        <ng-template verticalTabLabel>
          <mat-icon>file_copy</mat-icon>
          <span class="info-xs">Documents</span>
        </ng-template>
        <ng-template verticalTabContent>
          <div fxFlex>
            <div class="locked-region gray-bg small-padding fl-wrap" *ngIf="!showPropertyDocuments">
              <!-- Apply Charges algorithm -->
              <button class="like-btn" (click)="showInfoAndCharge('SHOW-PROPERTY-DOCUMENT')">
                <i class="fas fa-times"></i>
                View Information
              </button>
              <button class="like-btn" (click)="openSidebar()">
                <i class="fas fa-times"></i>
                close
              </button>
            </div>
            <div class="locked-region gray-bg small-padding fl-wrap" *ngIf="showPropertyDocuments">
              <div class="container-fluid">
                <div class="row" style="display: flex;justify-content: flex-end;">
                  <button class="like-btn" (click)="openSidebar()">
                    <i class="fas fa-times"></i>
                    close
                  </button>
                </div>
                <div class="row">
                  <h4>Show Property Documents</h4>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </app-vertical-tab>
      <app-vertical-tab>
        <ng-template verticalTabLabel>
          <mat-icon>help_outline</mat-icon>
          <span class="info-xs">Floor Plans</span>
        </ng-template>
        <ng-template verticalTabContent>
          <div fxFlex>
            <div class="locked-region gray-bg small-padding fl-wrap" *ngIf="!showPropertyFloorPlans">
              <!-- Apply Charges algorithm -->
              <button class="like-btn" (click)="showInfoAndCharge('SHOW-PROPERTY-FLOORPLANS')">
                <i class="fas fa-times"></i>
                View Information
              </button>
              <button class="like-btn" (click)="openSidebar()">
                <i class="fas fa-times"></i>
                close
              </button>
            </div>
            <div class="list-single-main-container fl-wrap" *ngIf="!showPropertyFloorPlans">
              <div class="container-fluid">
                <div class="row" style="display: flex;justify-content: flex-end;">
                  <button class="like-btn" (click)="openSidebar()">
                    <i class="fas fa-times"></i>
                    close
                  </button>
                </div>
                <div class="row">
                  <!-- list-single-main-item -->
                  <h4>Show Property Floor Plans</h4>
                  <div class="list-single-main-item fl-wrap"
                    *ngIf="propertView.property_floor_plan !== 'Not Available'">
                    <div class="list-single-main-item-title">
                      <h3>Floor Plans</h3>
                    </div>
                    <div class="accordion">
                      <a class="toggle act-accordion" href="#"> First Floor Plan <strong>286
                          sq
                          ft</strong> <span></span> </a>
                      <div class="accordion-inner visible">
                        <img src="assets/images/plans/1.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, conestatetetur adipiscing elit. Maecenas
                          in
                          pulvinar neque. Nulla finibus lobortis pulvinar. Donec a
                          conestatetetur
                          nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar
                          nisi
                          tincidunt. .</p>
                      </div>
                      <a class="toggle" href="#">Second Floor Plan <strong>280 sq ft</strong>
                        <span></span></a>
                      <div class="accordion-inner">
                        <img src="assets/images/plans/2.jpg" alt="">
                        <p>Aliquam erat volutpat. Curabitur convallis fringilla diam sed
                          aliquam.
                          Sed tempor iaculis massa faucibus feugiat. In fermentum
                          facilisis
                          massa,
                          a consequat purus viverra</p>
                      </div>
                      <a class="toggle" href="#"> Garage Plan <strong>180 sq ft</strong>
                        <span></span></a>
                      <div class="accordion-inner">
                        <img src="assets/images/plans/3.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, conestatetetur adipiscing elit. Sed
                          tempor
                          iaculis massa faucibus feugiat. In fermentum facilisis massa, a
                          consequat purus viverra.</p>
                      </div>
                    </div>
                  </div>
                  <!-- list-single-main-item end -->
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </app-vertical-tab>
      <app-vertical-tab>
        <ng-template verticalTabLabel>
          <mat-icon>share</mat-icon>
          <span class="info-xs">Share</span>
        </ng-template>
        <ng-template verticalTabContent>
          <div fxFlex>
            <div class="container-fluid">
              <div class="row" style="display: flex;justify-content: flex-end;">
                <button class="like-btn" (click)="openSidebar()">
                  <i class="fas fa-times"></i>
                  close
                </button>
              </div>
              <div class="row">
              </div>
            </div>
          </div>
        </ng-template>
      </app-vertical-tab>
    </app-vertical-tab-group>
    <!-- Ends here -->
  </mat-drawer>
  <mat-drawer-content #panel position="end">
    <div id="wrapper">
      <!-- content -->
      <div class="content">
        <div class="map-loading fw-map big_map" *ngIf="isMapLoading; else mapLoaded">
          <div class="pin"></div>
          <div class="pulse"></div>
        </div>
        <!-- Map -->
        <ng-template #mapLoaded>
          <div class="map-container fw-map big_map">
            <div class="estateMap" id="estateMap"></div>
          </div>
        </ng-template>
        <!-- Map end -->
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<!-- <app-footer [showPageListing]="false"></app-footer> -->