<div class="dashboard-footer">
    <div class="dashboard-footer-links fl-wrap">
        <span>Helpfull Links:</span>
        <ul>
            <li><a routerLink="/about-us" routerLinkActive="active">About </a></li>
            <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
            <li><a routerLink="/payment-plans" routerLinkActive="active">Payment Plans</a></li>
            <li><a routerLink="/contact-us" routerLinkActive="active">Contacts</a></li>
            <li><a routerLink="/help-center" routerLinkActive="active">Help Center</a></li>
        </ul>
    </div>
    <a href="#main" class="dashbord-totop  custom-scroll-link"><i class="fas fa-caret-up"></i></a>
</div>