<!-- wrapper  -->
<div id="wrapper">
    <!-- content -->
    <div class="content">
        <!-- breadcrumbs-->
        <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
            <div class="container">
                <div class="breadcrumbs-list">
                    <a>Home</a><a>User dashboard</a> <span>Personal Information</span>
                </div>
                <div class="share-holder hid-share">
                    <a class="share-btn showshare sfcs"> <i class="fas fa-exclamation"></i> Help </a>
                    <div class="share-container  isShare"></div>
                </div>
            </div>
        </div>
        <!-- breadcrumbs end -->
        <!--  section  -->
        <section class="gray-bg">
            <div class="section-title st-center fl-wrap">
                <h2>Personal Information</h2>
            </div>
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-8 col-lg-8">
                        <div class="services-item fl-wrap">
                            <div class="dasboard-widget-box fl-wrap" *ngIf="!isLoading">
                                <form *ngIf="personalInfoForm" [formGroup]="personalInfoForm" role="form">
                                    <div class="custom-form">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>FirstName
                                                    <span class="dec-icon">
                                                        <i class="far fa-user"></i></span>
                                                </label>
                                                <input type="text" placeholder="First Name"
                                                    formControlName="customer_firstname" maxlength="50" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>LastName <span class="dec-icon">
                                                        <i class="far fa-user"></i></span>
                                                </label>
                                                <input type="text" placeholder="Last Name"
                                                    formControlName="customer_lastname" maxlength="50" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Phone Number <span class="dec-icon">
                                                        <i class="fal fa-phone"></i></span>
                                                </label>
                                                <input type="text" placeholder="Your Phone number"
                                                    formControlName="customer_phone_no" maxlength="13" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Email <span class="dec-icon">
                                                        <i class="fal fa-envelope"></i></span>
                                                </label>
                                                <input type="text" placeholder="Your Email address"
                                                    formControlName="customer_email" maxlength="50" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>BVN <span class="dec-icon">
                                                        <i class="fal fa-user-lock"></i></span>
                                                </label>
                                                <input type="text" placeholder="Enter Your BVN" formControlName="bvn"
                                                    maxlength="13" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>PencomPin <span class="dec-icon">
                                                        <i class="fal fa-user-shield"></i></span>
                                                </label>
                                                <input type="text" placeholder="Enter Your Pencom Pin"
                                                    formControlName="pencomPin" maxlength="50" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Date of Birth <span class="dec-icon">
                                                        <i class="fal fa-calendar-alt"></i></span>
                                                </label>
                                                <input type="text" placeholder="Date of Birth"
                                                    formControlName="customer_dob" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Gender</label>
                                                <div class="row">
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <input id="check-aaa5" type="radio"
                                                            formControlName="customer_gender" value="male" checked> Male
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <input id="check-aaa5" type="radio"
                                                            formControlName="customer_gender" value="female" checked>
                                                        Female
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Residential Details </label>
                                                <div class="row">
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <input id="check-aaa5" type="radio"
                                                            formControlName="customer_residence_type" value="landlord"
                                                            checked>
                                                        House Owner
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <input id="check-aaa5" type="radio"
                                                            formControlName="customer_residence_type" value="tenant"
                                                            checked>
                                                        Tenant
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>House No <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="House Number"
                                                    formControlName="customer_house_number" maxlength="6" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Address <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="House Address"
                                                    formControlName="customer_house_address" maxlength="150" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>State <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="State" formControlName="customer_state"
                                                    maxlength="50" />
                                            </div>

                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>City <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="City" formControlName="customer_city"
                                                    maxlength="50" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Local Government Area <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="Local Government Area"
                                                    formControlName="customer_lga" maxlength="50" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>Country <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="Your country"
                                                    formControlName="customer_country" maxlength="50" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <label>How long have you been living here? <span class="dec-icon"><i
                                                            class="fal fa-map-marker-alt"></i></span></label>
                                                <input type="text" placeholder="How long have you been living here?"
                                                    formControlName="customer_stay_duration" maxlength="3" />
                                            </div>
                                        </div>
                                        <div class="row buy-land-btn"></div>
                                        <div class="geodir-category-footer fl-wrap">
                                            <button type="submit" (click)="userRegister(1)" [disabled]="!personalInfoForm.valid"
                                                mat-raised-button color="accent">
                                                Save Update
                                            </button>
                                            <button type="submit" (click)="userRegister(2)" [disabled]="!personalInfoForm.valid"
                                                mat-flat-button color="primary">
                                                Update And Continue
                                            </button>
                                        </div>
                                    </div>

                                    <br />
                                    <!-- {{this.personalInfoForm.value | json}} -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2"></div>
            </div>
        </section>
    </div>
</div>


<!-- wrapper end -->