<!-- wrapper  -->
<div id="wrapper">
    <!-- content -->
    <div class="content">
          <!-- breadcrumbs-->
          <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
            <div class="container">
                <div class="breadcrumbs-list">
                    <a>Home</a><a>User dashboard</a> <span>Personal Information</span>
                </div>
                <div class="share-holder hid-share">
                    <a class="share-btn showshare sfcs"> <i class="fas fa-exclamation"></i> Help </a>
                    <div class="share-container  isShare"></div>
                </div>
            </div>
        </div>
        <!-- breadcrumbs end -->
        <!--  section  -->
        <section class="gray-bg">
            <div class="section-title st-center fl-wrap">
                <h2>Personal Information</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-8 col-lg-8">
                        <div class="services-item fl-wrap">
                            <div class="dasboard-widget-box fl-wrap">
                                <div class="custom-form">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>FirstName <span class="dec-icon"><i
                                                        class="far fa-user"></i></span></label>
                                            <input type="text" placeholder="First Name" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>LastName <span class="dec-icon"><i
                                                        class="far fa-user"></i></span></label>
                                            <input type="text" placeholder="Last Name" value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Date of Birth <span class="dec-icon"><i
                                                        class="fal fa-calendar-alt"></i></span></label>
                                            <input type="text" placeholder="Date of Birth" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Gender</label>
                                            <div class="row">
                                                <div class="col-sm-6 col-lg-6 col-md-6">
                                                    <input id="check-aaa5" type="radio" name="gender" value="male"
                                                        checked> Male
                                                </div>
                                                <div class="col-sm-6 col-lg-6 col-md-6">
                                                    <input id="check-aaa5" type="radio" name="gender" value="female"
                                                        checked> Female
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Residential Details </label>
                                            <div class="row">
                                                <div class="col-sm-6 col-lg-6 col-md-6">
                                                    <input id="check-aaa5" type="radio" name="gender"
                                                        value="house 0wner" checked> House Owner
                                                </div>
                                                <div class="col-sm-6 col-lg-6 col-md-6">
                                                    <input id="check-aaa5" type="radio" name="gender" value="tenant"
                                                        checked> Tenant
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Address Line 1 <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="Address Line 1" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Address Line 2 <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="Address Line 2" value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Nearest Bus Stop <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="Nearest Bus Stop" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>State <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="State" value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>City <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="City" value="" />
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>Local Government Area <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="Local Government Area" value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <label>How long have you been living here? <span class="dec-icon"><i
                                                        class="fal fa-map-marker-alt"></i></span></label>
                                            <input type="text" placeholder="How long have you been living here?"
                                                value="" />
                                        </div>
                                    </div>
                                    <div class="row buy-land-btn"></div>
                                    <a href="/application-mortgage-3.html" class="btn  color-bg float-btn">Next </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2"></div>
            </div>
        </section>
    </div>
</div>


<!-- wrapper end -->