<div id="wrapper">
  <div class="content">
    <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
      <div class="container">
        <div class="breadcrumbs-list">
          <a>Home</a><a>Marketplace</a> <span>checkout - payment</span>
        </div>
        <div class="share-holder hid-share">
          <a href="#" class="share-btn showshare sfcs"> <i class="fas fa-exclamation"></i> Help </a>
          <div class="share-container  isShare"></div>
        </div>
      </div>
    </div>
    <section class="gray-bg small-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-lg-2"></div>
          <div class="col-md-8 col-lg-8">
            <div class="services-item fl-wrap">
              <div class="dasboard-widget-box fl-wrap">
                <div class="custom-form">
                  <form *ngIf="checkoutForm" fxLayout="column" [formGroup]="checkoutForm" (ngSubmit)="checkout()"
                    novalidate>
                    <div class="checkout-title">CONTACT INFOMATION</div>
                    <mat-form-field>
                      <mat-label>First & Last Name</mat-label>
                      <input matInput formControlName="name" required>
                      <mat-error *ngIf="checkoutForm.controls['name'].hasError('required')">
                        First & Last Name is required
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Email Address</mat-label>
                      <input matInput formControlName="email" required>
                      <mat-error *ngIf="checkoutForm.controls['email'].hasError('required')">
                        Email Address is required
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Mobile</mat-label>
                      <input matInput formControlName="mobile" required>
                      <mat-error *ngIf="checkoutForm.controls['mobile'].hasError('required')">
                        Mobile number is required
                      </mat-error>
                    </mat-form-field>

                    <!-- <div class="checkout-title">ITEMS IN CART</div>
                    <div class="cart"></div> -->
                    <div>
                      <h4 class="text-left mt-20 mb-20">Terms and Condition</h4>
                    </div>
                    <div>
                      <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
                        nobis cumque sit itaque aliquam culpa facilis! Mollitia explicabo
                        corrupti quidem dolore nulla aliquam recusandae repellendus, laborum
                        doloribus facere Acusamus vitae?Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Quaerat nobis cumque sit itaque
                        aliquamculpa facilis! Mollitia explicabo corrupti quidem dolore
                        nulla aliquam recusandae repellendus, laborum doloribus facere
                        accusamus vitae ipsum dolor sit amet consectetur adipisicing elit.
                        Quaerat nobis cumque sit itaque aliquamculpa facilis! Mollitia
                        explicabo corrupti quidem dolore nulla aliquam recusandae
                        repellendus, laborum doloribus facere accusamus vitae.</p>

                      <div class="fl-wrap example-margin">
                        <mat-checkbox formControlName="termsChecked" checked="true">
                          I accept the terms and condition
                        </mat-checkbox>
                      </div>
                    </div>

                    <div class="checkout-title">PAYMENT</div>
                    <mat-form-field>
                      <mat-label>Credit</mat-label>
                      <input matInput readonly value="{{balance |  currency:'NGN':'symbol-narrow':'4.2-2'}}">
                    </mat-form-field>

                    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                      <button mat-button [disabled]="loading">
                        <img src="/assets/images/bg/flutterwave.png" alt="">
                        <span style="display: block; font-weight: 800; text-transform: uppercase;">
                          Pay with flutterwave
                        </span>
                      </button>
                      <button mat-button [disabled]="loading">
                        <img src="/assets/images/bg/monify.png" alt="">
                        <span style="display: block; font-weight: 800; text-transform: uppercase;">
                          Pay with Monnify
                        </span>
                      </button>
                      <button mat-button (onclick)="payWithMonnify()">
                        <img src="/assets/images/bg/paystack.png" alt="">
                        <span style="display: block; font-weight: 800; text-transform: uppercase;">
                          Pay with Paystack
                        </span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>