<div class="dashbard-menu-overlay"></div>
<div class="dashbard-menu-wrap">
  <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
  <div class="dashbard-menu-container">
    <!-- user-profile-menu-->
    <div class="user-profile-menu">
      <h3>Main</h3>
      <ul class="no-list-style">
        <li><a href="/#/user-dashboard" class="user-profile-act">
            <i class="fal fa-chart-line"></i>
            Dashboard
          </a>
        </li>
        <li><a routerLink="/user-dashboard/user-properties" routerLinkActive="active">
            <i class="fal fa-home"></i> My Properties</a>
        </li>
        <li>
          <a routerLink="/listings/application" routerLinkActive="active">
            <i class="fal fa-check"></i>My Application (s)</a>
        </li>
        <!-- <li>
          <a routerLink="/user-dashboard/user-land-registry" routerLinkActive="active" class="submenu-link">
            <i class="fal fa-plus"></i>My Application</a>
          <ul class="no-list-style">
          
            <li><a routerLink="/user-dashboard/user-personal-information" routerLinkActive="active">
                <i class="fal fa-user"></i>Personal Information</a>
            </li>
            <li><a routerLink="/user-dashboard/user-employment-status" routerLinkActive="active">
                <i class="fal fa-briefcase"></i> Employment Information</a>
            </li>
            <li><a routerLink="/user-dashboard/user-required-documents" routerLinkActive="active">
                <i class="fal fa-file-plus"></i> Required Document</a>
            </li>
          </ul>
        </li> -->
        <li><a routerLink="/user-dashboard/user-transaction-history" routerLinkActive="active">
            <i class="fal fa-users"></i>My Transaction History</a>
        </li>
        <li><a routerLink="/user-dashboard/user-profile" routerLinkActive="active">
            <i class="fal fa-user-edit"></i>My Profile</a>
        </li>
      </ul>
    </div>

    <!-- user-profile-menu end-->
    <!-- user-profile-menu-->
    <!-- <div class="user-profile-menu">
      <h3>Listings</h3>
      <ul class="no-list-style">
        <li><a routerLink="/user-dashboard/user-listings" routerLinkActive="active">
            <i class="fal fa-th-list"></i> My listigs </a>
        </li>
        <li>
          <a routerLink="/user-dashboard/user-bookings" routerLinkActive="active">
            <i class="fal fa-calendar-check"></i>My Bookings
          </a>
        </li>
        <li><a routerLink="/user-dashboard/user-reviews" routerLinkActive="active">
            <i class="fal fa-comments-alt"></i>My Reviews
          </a></li>
        <li>
          <a routerLink="/user-dashboard/user-wallet" routerLinkActive="active">
            <i class="fal fa-file-plus"></i> My Wallet
          </a>
        </li>
        <li><a routerLink="/user-dashboard/user-messaging" routerLinkActive="active">
            <i class="fal fa-envelope"></i>My Messages
          </a>
        </li>
        <li><a routerLink="/user-dashboard/user-land-registeration" routerLinkActive="active">
            <i class="fal fa-th-list"></i> Register land </a>
        </li>
        <li><a routerLink="/user-dashboard/user-land-resisteration-status" routerLinkActive="active">
            <i class="fal fa-calendar-check"></i> Track Land Registration Status</a>
        </li>
      </ul>
    </div> -->
    <!-- user-profile-menu end-->
  </div>
  <div class="dashbard-menu-footer"> &#169; HouseAfrica 2022 . All rights reserved.</div>
</div>