<!-- Tablet / Desktop -->
<!-- wrapper  -->
<div id="wrapper">
  <!-- content -->
  <div class="content">
    <div class="main-register-wrap-login">
      <div class="main-register-holder">
        <div class="main-register-wrapper modal_main_login fl-wrap">
          <div class="main-register-header color-bg">
            <div class="main-register-logo fl-wrap">
              <img src="/assets/images/ls-roundel-white.png" alt="">
            </div>
            <div class="main-register-bg">
              <div class="mrb_pin"></div>
              <div class="mrb_pin mrb_pin2"></div>
            </div>
            <div class="mrb_dec"></div>
            <div class="mrb_dec mrb_dec2"></div>
          </div>
          <div class="main-register">
            <div class="close-reg"><i class="fal fa-user-plus"></i></div>
            <!--tabs -->
            <div class="tabs-container">
              <div class="tab">
                <!--tab -->
                <div id="tab-1" class="tab-content first-tab">
                  <div class="custom-form">
                    <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate class="main-register-form"
                      id="main-register-form2">
                      <div>
                        <label>FirstName * <span class="dec-icon"><i class="fal fa-user"></i></span></label>
                        <input name="firstname" type="text" formControlName="firstname" placeholder="Your First name"
                          onClick="this.select()" required>
                        <mat-error *ngIf="registerForm.controls['firstname'].hasError('required')">
                          First Name is required
                        </mat-error>
                      </div>

                      <label>LastName * <span class="dec-icon"><i class="fal fa-user"></i></span></label>
                      <input name="lastname" type="text" formControlName="lastname" placeholder="Your Name"
                        onClick="this.select()" required>
                      <label>Email Address * <span class="dec-icon"><i class="fal fa-envelope"></i></span></label>
                      <input name="email" type="text" formControlName="email" placeholder="Your Mail"
                        onClick="this.select()" required>
                      <div class="pass-input-wrap fl-wrap">
                        <label>Password * <span class="dec-icon"><i class="fal fa-key"></i></span></label>
                        <input name="password" type="password" formControlName="password" placeholder="Your Password"
                          autocomplete="off" onClick="this.select()" required>
                        <span class="eye"><i class="fal fa-eye"></i> </span>
                      </div>
                      <label>Phone Number * <span class="dec-icon"><i class="fal fa-phone"></i></span></label>
                      <input name="mobile" type="text" formControlName="mobile" placeholder="Your Name"
                        onClick="this.select()" required>
                      <div class="filter-tags ft-list">
                        <input id="check-a2" type="checkbox" name="check">
                        <label for="check-a2">I agree to the <a routerLink="/terms-of-use">Privacy Policy</a> and <a
                            routerLink="/privacy-policy">Terms and
                            Conditions</a></label>
                      </div>
                      <div class="clearfix"></div>
                      <button type="submit" class="log_btn color-bg"> Register </button>
                    </form>
                  </div>
                </div>
                <!--tab end -->
              </div>
              <!--tabs end -->
              <div class="log-separator fl-wrap"><span>or</span></div>
              <div class="soc-log fl-wrap">
                <p>Already have an account?</p>
                <a routerLink="/authentication/login" class="facebook-log"> Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--register form end -->
  </div>
</div>