<!-- Tablet / Desktop -->
<!-- wrapper  -->
<div id="wrapper">
  <!-- content -->
  <div class="content">
    <div class="main-register-wrap-login">
      <div class="main-register-holder">
        <div class="main-register-wrapper modal_main_login fl-wrap">
          <div class="main-register-header color-bg">
            <div class="main-register-logo fl-wrap">
              <img src="/assets/images/ls-roundel-white.png" alt="">
            </div>
            <div class="main-register-bg">
              <div class="mrb_pin"></div>
              <div class="mrb_pin mrb_pin2"></div>
            </div>
            <div class="mrb_dec"></div>
            <div class="mrb_dec mrb_dec2"></div>
          </div>
          <div class="main-register">
            <div class="close-reg"><i class="fal fa-sign-in-alt"></i></div>
            <!--tabs -->
            <div class="tabs-container">
              <div class="tab">
                <!--tab -->
                <div id="tab-1" class="tab-content first-tab">
                  <div class="custom-form">
                    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                      <label>Username or Email Address * <span class="dec-icon"><i
                            class="fal fa-user"></i></span></label>
                      <input name="email" type="text" placeholder="Enter Email" formControlName="email" required
                        onClick="this.select()">
                      <div class="error" *ngIf="loginForm.controls['email'].hasError('required')">
                        Email Address is required
                      </div>
                      <div class="pass-input-wrap fl-wrap">
                        <label>Password * <span class="dec-icon"><i class="fal fa-key"></i></span></label>
                        <input name="password" formControlName="password" placeholder="Your Password" type="password"
                          autocomplete="off" onClick="this.select()" value="">
                        <span class="eye"><i class="fal fa-eye"></i> </span>
                      </div>
                      <div class="error" *ngIf="loginForm.controls['password'].hasError('required')">
                        Password is required
                      </div>
                      <div class="lost_password">
                        <a href="#">Lost Your Password?</a>
                      </div>
                      <div class="filter-tags">
                        <input id="check-a3" type="checkbox" name="check">
                        <label for="check-a3">Remember me</label>
                      </div>
                      <div class="clearfix"></div>
                      <button type="submit" class="log_btn color-bg"> LogIn </button>
                    </form>
                  </div>
                </div>
                <!--tab end -->
              </div>
              <!--tabs end -->
              <div class="log-separator fl-wrap"><span>or</span></div>
              <div class="soc-log fl-wrap">
                <p>For faster login or register use your social account.</p>
                <a routerLink="/authentication/register" class="facebook-log"> Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--register form end -->
  </div>
</div>