table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  min-width: 20%;
}
th {
  padding: 10px !important;
  text-align: center !important;
}

td {
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  padding: 10px !important;
  text-align: left !important;
}

.w-75 {
  max-width: 5% !important;
}

.w-100 {
  max-width: 100px;
}
