<!-- wrapper  -->
<div id="wrapper">
    <!-- dashbard-menu-wrap -->
    <app-sidebar></app-sidebar>
    <!-- dashbard-menu-wrap end  -->

    <!-- content -->
    <div class="dashboard-content">
        <app-dashboard-toggle></app-dashboard-toggle>
        <div class="container dasboard-container">
            <!-- dashboard-title -->
            <app-dashboard-menu-status [dashboardTitle]="PageName"></app-dashboard-menu-status>
            <!-- dashboard-title end -->
            <div class="dasboard-wrapper fl-wrap no-pag">
                <div class="dashboard-stats-container fl-wrap">
                    <div class="row">
                        <mat-tab-group animationDuration="0ms">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <!-- <div class="share-btn showshare sfcs">                                   
                                       
                                    </div> -->
                                    <span>Land</span>
                                </ng-template>
                                <!--dashboard-stats-->
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="dashboard-stats fl-wrap"
                                        style="display: flex; flex-direction: column; justify-content: center; margin: 10px;">
                                        <i class="fal fa-map-marked"></i>
                                        <div class="dashboard-stats-count">{{numberOfListing}}</div>
                                        <h4 style="text-align: center; font-size: small;">Land (s)</h4>
                                    </div>
                                </div>
                                <!-- dashboard-stats end -->
                                <!--dashboard-stats-->
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="dashboard-stats fl-wrap"
                                        style="display: flex; flex-direction: column; justify-content: center; margin: 10px;">
                                        <i class="fal fa-map-marked"></i>
                                        <div class="dashboard-stats-count">{{numberOfListing |
                                            currency:'NGN':'symbol-narrow':'4.2-2'}}</div>
                                        <h4 style="text-align: center;">Payment</h4>
                                    </div>
                                </div>
                                <!-- dashboard-stats end -->
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="dashboard-stats fl-wrap"
                                        style="display: flex; flex-direction: column; justify-content: center; margin: 10px;">

                                        <div class="dashboard-stats-count">{{numberOfListing |
                                            currency:'NGN':'symbol-narrow':'4.2-2'}}</div>
                                        <h4 style="text-align: center;">Expected payment for this month</h4>
                                    </div>
                                </div>
                                <!-- dashboard-stats end -->
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="dashboard-stats fl-wrap"
                                        style="display: flex; flex-direction: column; justify-content: center; margin: 10px;">

                                        <div class="dashboard-stats-count">{{numberOfListing |
                                            currency:'NGN':'symbol-narrow':'4.2-2'}}</div>
                                        <h4 style="text-align: center;">Total Amount</h4>
                                    </div>
                                </div>
                                <!-- dashboard-stats end -->

                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <!-- <div class="share-btn showshare sfcs">                                  
                                       
                                    </div> -->
                                    <span>House</span>
                                </ng-template>
                                <!--dashboard-stats-->
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="dashboard-stats fl-wrap"
                                        style="display: flex; flex-direction: column; justify-content: center; margin: 10px;">
                                        <i class="fal fa-map-marked"></i>
                                        <div class="dashboard-stats-count">{{numberOfListing}}</div>
                                        <h4 style="text-align: center; font-size: small;">House(s)</h4>
                                    </div>
                                </div>
                                <!-- dashboard-stats end -->
                                <!--dashboard-stats-->
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="dashboard-stats fl-wrap"
                                        style="display: flex; flex-direction: column; justify-content: center; margin: 10px;">
                                        <i class="fal fa-map-marked"></i>
                                        <div class="dashboard-stats-count">{{numberOfListing |
                                            currency:'NGN':'symbol-narrow':'4.2-2'}}</div>
                                        <h4 style="text-align: center;">Payment</h4>
                                    </div>
                                </div>
                                <!-- dashboard-stats end -->
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="dashboard-stats fl-wrap"
                                        style="display: flex; flex-direction: column; justify-content: center; margin: 10px;">

                                        <div class="dashboard-stats-count">{{numberOfListing |
                                            currency:'NGN':'symbol-narrow':'4.2-2'}}</div>
                                        <h4 style="text-align: center;">Expected payment for this month</h4>
                                    </div>
                                </div>
                                <!-- dashboard-stats end -->
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="dashboard-stats fl-wrap"
                                        style="display: flex; flex-direction: column; justify-content: center; margin: 10px;">

                                        <div class="dashboard-stats-count">{{numberOfListing |
                                            currency:'NGN':'symbol-narrow':'4.2-2'}}</div>
                                        <h4 style="text-align: center;">Total Amount</h4>
                                    </div>
                                </div>
                                <!-- dashboard-stats end -->

                            </mat-tab>
                        </mat-tab-group>
                        <div class="clearfix"></div>
                        <ng-template #loading>
                            <div class="container-fluid page-padding"
                                style="margin-top:3%; display: flex; justify-content: center; align-items: center;"
                                *ngIf="isLoading && cartProducts.length === 0">
                                <mat-spinner role="progressbar"></mat-spinner>
                            </div>
                            <div class="container-fluid page-padding" style="margin-top: 10%;"
                                *ngIf="!isLoading && cartProducts.length === 0">
                                <div class="cart">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3><strong>Application Status</strong></h3>
                                                </div>
                                                <div class="card-body cart">
                                                    <div class="empty-cart-cls">
                                                        <img src="https://i.imgur.com/dCdflKN.png" width="130"
                                                            height="130" class="img-fluid mb-4 mr-3">

                                                        <div class="cart-title">You have No pending Application(s)</div>
                                                        <p>
                                                            You will find a lot of interesting Properties on our
                                                            "Listing page"
                                                            page.
                                                        </p>
                                                        <a routerLink="/listings" routerLinkActive="active"
                                                            class="btn btn-primary cart-btn-transform m-3"
                                                            data-abc="true">
                                                            Go to Estate Listing
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="cartProducts?.length > 0" [ngIfElse]="loading">
                            <section class="gray-bg small-padding" *ngIf="cartProducts?.length > 0">
                                <div class="container-fluid">
                                    <div class="dashboard-stats-count">My Applications</div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <!-- listing-item-wrap-->
                                            <div class="listing-item-container one-column-grid-wrap box-list_ic agency-list fl-wrap"
                                                *ngFor="let cartProduct of cartProducts; let i = index">
                                                <!--  agecy card item -->
                                                <div class="listing-item has_one_column">
                                                    <article class="geodir-category-listing fl-wrap">
                                                        <div class="geodir-category-img fl-wrap">
                                                            <a class="geodir-category-img_item">
                                                                <img src="assets/images/agency/1.png" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="geodir-category-content fl-wrap">
                                                            <div class="card-verified tolt"
                                                                data-microtip-position="left" data-tooltip="Verified">
                                                                <i class="fal fa-user-check"></i>
                                                            </div>
                                                            <div class="agent_card-title fl-wrap">
                                                                <h4>{{cartProduct.PropertyName}}</h4>
                                                                <div class="geodir-category-location fl-wrap">
                                                                    <a><i class="fas fa-map-marker-alt"></i>
                                                                        {{cartProduct.PropertyJson?.name}}</a>
                                                                    <div class="listing-rating card-popup-rainingvis"
                                                                        data-starrating2="4"><span
                                                                            class="re_stars-title">{{cartProduct.PropertyStatus}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="small-facts fl-wrap">
                                                                <ul>
                                                                    <li><i class="fal fa-home"></i>
                                                                        <span>
                                                                            Block &nbsp;
                                                                            <strong>{{cartProduct.LinkedEntity}}</strong>
                                                                        </span>
                                                                    </li>
                                                                    <li><i class="fal fa-users-class"></i>
                                                                        <span>
                                                                            Estate Unit&nbsp;
                                                                            <strong>{{cartProduct.PropertyId}}</strong>
                                                                        </span>
                                                                    </li>
                                                                    <li><i class="fal fa-comment-alt"></i>
                                                                        <span>&nbsp;<strong>NOT</strong>COMPLETED</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="geodir-category-footer fl-wrap">
                                                                <button (click)="removeItem(i)" mat-raised-button
                                                                    color="accent">
                                                                    <i class="fal fa-trash-alt"></i>
                                                                    Cancel Application
                                                                </button>
                                                                <button (click)="showItem(cartProduct)" mat-flat-button
                                                                    color="primary">
                                                                    <i class="fal fa-user-check"></i>
                                                                    Continue Application
                                                                </button>

                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </ng-template>

                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <!-- dashboard-footer -->
        <!-- <app-dashboard-footer-menu></app-dashboard-footer-menu> -->
        <!-- dashboard-footer end -->
    </div>
    <!-- content end -->
    <div class="dashbard-bg gray-bg"></div>
</div>
<!-- wrapper end -->