<!-- wrapper  -->
<div id="wrapper">
    <!-- content -->
    <div class="content">
        <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
            <div class="container">
                <div class="breadcrumbs-list">
                    <a>Home</a><a>Marketplace</a> <span>checkout - outright payment</span>
                </div>
                <div class="share-holder hid-share">
                    <a href="#" class="share-btn showshare sfcs"> <i class="fas fa-exclamation"></i> Help </a>
                    <div class="share-container  isShare"></div>
                </div>
            </div>
        </div>
        <section class="gray-bg small-padding">
            <div class="services-item fl-wrap">
                <div class="dasboard-widget-box fl-wrap">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div>
                                    <div class="map-loading fw-map big_map" *ngIf="isMapLoading; else mapLoaded">
                                        <div class="pin"></div>
                                        <div class="pulse"></div>
                                    </div>
                                    <!-- Map -->
                                    <ng-template #mapLoaded>
                                        <div class="map-container fw-map big_map">
                                            <div class="unitMap" id="unitMap"></div>
                                        </div>
                                    </ng-template>
                                    <!-- Map end -->
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="custom-form">
                                    <div class="checkout-title">OUTRIGHT PAYMENT</div>
                                    <div>
                                        <h4 class="text-left mt-20 mb-20">{{PROPERTY_INFO.PropertyName}}</h4>
                                    </div>
                                    <div>
                                        <ul class="text-left">
                                            <li>Property Amount: {{PROPERTY_INFO.PropertyAmount | currency:'NGN':'symbol-narrow':'4.2-2'}} </li>
                                            <li>Property ID: {{PROPERTY_INFO.PropertyId}}</li>
                                            <li>Property Estate: {{PROPERTY_INFO.PropertyEstate}}</li>
                                            <li>Property Status:{{PROPERTY_INFO.PropertyStatus}}</li>
                                        </ul>
                                    </div>
                                    <!-- <div style="height: 10px;"></div> -->
                                    <div class="checkout-title">PAYMENT INFORMATION</div>

                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 col-md-4">
                                            <h4>Application Fees</h4>
                                            <span>{{balance | currency:'NGN':'symbol-narrow':'4.2-2'}}</span>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4">
                                            <h4>Number Of property</h4>
                                            <span>{{numberOfProperties}}</span>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4">
                                            <h4>Application Mode</h4>
                                            <span>OUTRIGHT PAYMENT</span>
                                        </div>
                                    </div>
                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: 20px;">
                                        <button mat-button (click)="callToAction('DOLATER')" mat-raised-button color="warn">
                                            <span style="display: block; font-weight: 800; text-transform: uppercase;">
                                                DO LATER
                                            </span>
                                        </button>
                                        <button mat-button (click)="callToAction('PAYNOW')" mat-raised-button color="primary">
                                            <span style="display: block; font-weight: 800; text-transform: uppercase;">
                                                CONTINUE
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<app-footer [showPageListing]="false"></app-footer>