<!-- wrapper  -->
<div id="wrapper">
    <!-- dashbard-menu-wrap -->
    <app-sidebar></app-sidebar>
    <!-- dashbard-menu-wrap end  -->
    <!-- content -->
    <div class="dashboard-content">
        <app-dashboard-toggle></app-dashboard-toggle>
        <div class="container dasboard-container">
            <!-- dashboard-title -->
            <app-dashboard-menu-status [dashboardTitle]="PageName"></app-dashboard-menu-status>
            <!-- dashboard-title end -->
            <div class="dasboard-wrapper fl-wrap">
                <div class="dasboard-listing-box fl-wrap">
                    <div class="dasboard-opt sl-opt fl-wrap">
                        <div class="dashboard-search-listing">
                            <input type="text" onclick="this.select()" placeholder="Search" value="">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </div>
                    </div>
                    <!-- dashboard-listings-wrap-->
                    <div class="dashboard-listings-wrap fl-wrap">
                        <div class="row" *ngIf="myProperties.length === 0">
                            <div class="col-sm-12 col-md-12">
                                <div class="dashboard-listings-item fl-wrap">
                                    <h4>No Listing Available</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="myProperties.length > 0">
                            <!-- dashboard-listings-item-->
                            <div class="col-md-6" *ngFor="let cartProduct of myProperties; let i = index">
                                <div class="dashboard-listings-item fl-wrap">
                                    <div class="dashboard-listings-item_img">
                                        <div class="bg-wrap">
                                            <div class="bg"
                                                [ngStyle]="{'background': 'url(./assets/images/all/3.jpg) no-repeat 0 0 / cover'}"
                                                data-bg="/assets/images/all/3.jpg"></div>
                                        </div>
                                        <div class="overlay"></div>
                                        <a href="#" class="color-bg">View</a>
                                    </div>
                                    <div class="dashboard-listings-item_content">
                                        <h4>{{cartProduct.PropertyName}}</h4>
                                        <div class="geodir-category-location">
                                            <i class="fas fa-map-marker-alt"></i> <span>
                                                {{cartProduct.PropertyJson?.name}}</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="listing-rating card-popup-rainingvis tolt"
                                            data-microtip-position="right" data-tooltip="Good" data-starrating2="4">
                                        </div>
                                        <div class="dashboard-listings-item_opt" style="margin: 20px 0; padding: 10px;">
                                            <!-- <span class="viewed-counter"><i class="fas fa-eye"></i> Viewed - 645 </span> -->
                                            <ul class="small-facts fl-wrap">
                                                <li><i class="fal fa-home"></i>
                                                    <span>
                                                        Block &nbsp;
                                                        <strong>{{cartProduct.LinkedEntity}}</strong>
                                                    </span>
                                                </li>
                                                <li><i class="fal fa-users-class"></i>
                                                    <span>
                                                        Estate Unit&nbsp;
                                                        <strong>{{cartProduct.PropertyId}}</strong>
                                                    </span>
                                                </li>
                                                <li><i class="fal fa-comment-alt"></i>
                                                    <span>&nbsp; {{cartProduct.ApplicationStatus}}</span>
                                                </li>
                                            </ul>
                                            <div style="height: 10px; display: block;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dashboard-listings-item end-->

                        </div>
                    </div>
                    <!-- dashboard-listings-wrap end-->
                </div>
                <!-- pagination-->
                <!-- <div class="pagination float-pagination" *ngIf="myProperties.length > 0">
                    <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                    <a href="#">1</a>
                    <a href="#" class="current-page">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                </div> -->
                <!-- pagination end-->
            </div>
        </div>
        <!-- dashboard-footer -->
        <!-- <app-dashboard-footer-menu></app-dashboard-footer-menu> -->
        <!-- dashboard-footer end -->
    </div>
    <!-- content end -->
    <div class="dashbard-bg gray-bg"></div>
</div>
<!-- wrapper end -->