<!-- wrapper  -->
<div id="wrapper">
    <!-- dashbard-menu-wrap -->
    <app-sidebar></app-sidebar>
    <!-- dashbard-menu-wrap end  -->
    <!-- content -->
    <div class="dashboard-content">
        <app-dashboard-toggle></app-dashboard-toggle>
        <div class="container dasboard-container">
            <!-- dashboard-title -->
            <app-dashboard-menu-status [dashboardTitle]="PageName"></app-dashboard-menu-status>
            <!-- dashboard-title end -->
            <div class="dasboard-wrapper fl-wrap">
                <div class="dasboard-listing-box fl-wrap">
                    <div class="dasboard-opt sl-opt fl-wrap">
                        <div class="dashboard-search-listing">
                            <input type="text" onclick="this.select()" placeholder="Search" value="">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </div>
                    </div>
                    <!-- dashboard-listings-wrap-->
                    <div class="dashboard-listings-wrap fl-wrap">
                        <div class="row" *ngIf="myProperties.length === 0">
                            <div class="col-sm-12 col-md-12">
                                <div class="dashboard-listings-item fl-wrap">
                                    <h4>No Listing Available</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="myProperties.length > 0">
                            <!-- dashboard-listings-item-->
                            <div class="col-md-6">
                                <div class="dashboard-listings-item fl-wrap">
                                    <div class="dashboard-listings-item_img">
                                        <div class="bg-wrap">
                                            <div class="bg" [ngStyle]="{'background': 'url(./assets/images/all/3.jpg) no-repeat 0 0 / cover'}" data-bg="/assets/images/all/3.jpg"></div>
                                        </div>
                                        <div class="overlay"></div>
                                        <a href="listing-single.html" class="color-bg">View</a>
                                    </div>
                                    <div class="dashboard-listings-item_content">
                                        <h4><a href="listing-single.html">Gorgeous House For Sale</a></h4>
                                        <div class="geodir-category-location">
                                            <a href="#"><i class="fas fa-map-marker-alt"></i> <span> 70 Bright St New
                                                    York, USA</span></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="listing-rating card-popup-rainingvis tolt"
                                            data-microtip-position="right" data-tooltip="Good" data-starrating2="4">
                                        </div>
                                        <div class="dashboard-listings-item_opt">
                                            <span class="viewed-counter"><i class="fas fa-eye"></i> Viewed - 645 </span>
                                            <ul>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Edit"><i class="far fa-edit"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Disable"><i
                                                            class="far fa-signal-alt-slash"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Delete"><i class="far fa-trash-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dashboard-listings-item end-->
                            <!-- dashboard-listings-item-->
                            <div class="col-md-6">
                                <div class="dashboard-listings-item fl-wrap">
                                    <div class="dashboard-listings-item_img">
                                        <div class="bg-wrap">
                                            <div class="bg  " data-bg="/assets/images/all/1.jpg"></div>
                                        </div>
                                        <div class="overlay"></div>
                                        <a href="listing-single.html" class="color-bg">View</a>
                                    </div>
                                    <div class="dashboard-listings-item_content">
                                        <h4><a href="listing-single.html">Luxury Family Home</a></h4>
                                        <div class="geodir-category-location">
                                            <a href="#"><i class="fas fa-map-marker-alt"></i> <span> 40 Journal Square ,
                                                    NJ, USA</span></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="listing-rating card-popup-rainingvis tolt"
                                            data-microtip-position="right" data-tooltip="Excellent"
                                            data-starrating2="5"></div>
                                        <div class="dashboard-listings-item_opt">
                                            <span class="viewed-counter"><i class="fas fa-eye"></i> Viewed - 247 </span>
                                            <ul>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Edit"><i class="far fa-edit"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Disable"><i
                                                            class="far fa-signal-alt-slash"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Delete"><i class="far fa-trash-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dashboard-listings-item end-->
                            <!-- dashboard-listings-item-->
                            <div class="col-md-6">
                                <div class="dashboard-listings-item fl-wrap">
                                    <div class="dashboard-listings-item_img">
                                        <div class="bg-wrap">
                                            <div class="bg  " data-bg="/assets/images/all/9.jpg"></div>
                                        </div>
                                        <div class="overlay"></div>
                                        <a href="listing-single.html" class="color-bg">View</a>
                                    </div>
                                    <div class="dashboard-listings-item_content">
                                        <h4><a href="listing-single.html">Family House for Rent</a></h4>
                                        <div class="geodir-category-location">
                                            <a href="#"><i class="fas fa-map-marker-alt"></i> <span> 34-42 Montgomery St
                                                    , NY, USA</span></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="listing-rating card-popup-rainingvis tolt"
                                            data-microtip-position="right" data-tooltip="Good" data-starrating2="4">
                                        </div>
                                        <div class="dashboard-listings-item_opt">
                                            <span class="viewed-counter"><i class="fas fa-eye"></i> Viewed - 24 </span>
                                            <ul>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Edit"><i class="far fa-edit"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Disable"><i
                                                            class="far fa-signal-alt-slash"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Delete"><i class="far fa-trash-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dashboard-listings-item end-->
                            <!-- dashboard-listings-item-->
                            <div class="col-md-6">
                                <div class="dashboard-listings-item fl-wrap">
                                    <div class="dashboard-listings-item_img">
                                        <div class="bg-wrap">
                                            <div class="bg  " data-bg="/assets/images/all/6.jpg"></div>
                                        </div>
                                        <div class="overlay"></div>
                                        <a href="listing-single.html" class="color-bg">View</a>
                                    </div>
                                    <div class="dashboard-listings-item_content">
                                        <h4><a href="listing-single.html">Contemporary Apartment</a></h4>
                                        <div class="geodir-category-location">
                                            <a href="#"><i class="fas fa-map-marker-alt"></i> <span> W 85th St, New
                                                    York, USA</span></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="listing-rating card-popup-rainingvis tolt"
                                            data-microtip-position="right" data-tooltip="Excellent"
                                            data-starrating2="5"></div>
                                        <div class="dashboard-listings-item_opt">
                                            <span class="viewed-counter"><i class="fas fa-eye"></i> Viewed - 921 </span>
                                            <ul>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Edit"><i class="far fa-edit"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Disable"><i
                                                            class="far fa-signal-alt-slash"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Delete"><i class="far fa-trash-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dashboard-listings-item end-->
                            <!-- dashboard-listings-item-->
                            <div class="col-md-6">
                                <div class="dashboard-listings-item fl-wrap">
                                    <div class="dashboard-listings-item_img">
                                        <div class="bg-wrap">
                                            <div class="bg  " data-bg="/assets/images/all/5.jpg"></div>
                                        </div>
                                        <div class="overlay"></div>
                                        <a href="listing-single.html" class="color-bg">View</a>
                                    </div>
                                    <div class="dashboard-listings-item_content">
                                        <h4><a href="listing-single.html">Kayak Point House</a></h4>
                                        <div class="geodir-category-location">
                                            <a href="#"><i class="fas fa-map-marker-alt"></i> <span> 75 Prince St, NY,
                                                    USA</span></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="listing-rating card-popup-rainingvis tolt"
                                            data-microtip-position="right" data-tooltip="Average" data-starrating2="3">
                                        </div>
                                        <div class="dashboard-listings-item_opt">
                                            <span class="viewed-counter"><i class="fas fa-eye"></i> Viewed - 434 </span>
                                            <ul>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Edit"><i class="far fa-edit"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Disable"><i
                                                            class="far fa-signal-alt-slash"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Delete"><i class="far fa-trash-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dashboard-listings-item end-->
                            <!-- dashboard-listings-item-->
                            <div class="col-md-6">
                                <div class="dashboard-listings-item fl-wrap">
                                    <div class="dashboard-listings-item_img">
                                        <div class="bg-wrap">
                                            <div class="bg  " data-bg="/assets/images/all/8.jpg"></div>
                                        </div>
                                        <div class="overlay"></div>
                                        <a href="listing-single.html" class="color-bg">View</a>
                                    </div>
                                    <div class="dashboard-listings-item_content">
                                        <h4><a href="listing-single.html">Urban House</a></h4>
                                        <div class="geodir-category-location">
                                            <a href="#"><i class="fas fa-map-marker-alt"></i> <span> 70 Bright St,
                                                    Jersey City, NJ USA</span></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="listing-rating card-popup-rainingvis tolt"
                                            data-microtip-position="right" data-tooltip="Excellent"
                                            data-starrating2="5"></div>
                                        <div class="dashboard-listings-item_opt">
                                            <span class="viewed-counter"><i class="fas fa-eye"></i> Viewed - 244 </span>
                                            <ul>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Edit"><i class="far fa-edit"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Disable"><i
                                                            class="far fa-signal-alt-slash"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                        data-tooltip="Delete"><i class="far fa-trash-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dashboard-listings-item end-->
                        </div>
                    </div>
                    <!-- dashboard-listings-wrap end-->
                </div>
                <!-- pagination-->
                <div class="pagination float-pagination" *ngIf="myProperties.length > 0">
                    <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                    <a href="#">1</a>
                    <a href="#" class="current-page">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                </div>
                <!-- pagination end-->
            </div>
        </div>
        <!-- dashboard-footer -->
        <app-dashboard-footer-menu></app-dashboard-footer-menu>
        <!-- dashboard-footer end -->
    </div>
    <!-- content end -->
    <div class="dashbard-bg gray-bg"></div>
</div>
<!-- wrapper end -->