<!-- wrapper  -->
<div id="wrapper">
    <!-- content -->
    <div class="content">
        <!--  section  -->
        <section class="hero-section hero-section_dec" data-scrollax-parent="true" style="padding: 50px 20px;">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="half-carousel-item fl-wrap">
                        <div class="bg-wrap bg-parallax-wrap-gradien">
                            <div class="bg"
                                style="background-image: url('./assets/images/bg/web.png');background-size:cover"
                                data-bg="/images/bg/web.png"></div>
                        </div>
                        <div class="half-carousel-content">
                            <div class="hc-counter color-bg"></div>
                            <h3>Looking to<br>Finance a Land?</h3>
                            <div>
                                <a routerLink="/estate-loan-options/buy-land" routerLinkActive="active"
                                    class="hero-button" tabindex="0">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="half-carousel-item fl-wrap">
                        <div class="bg-wrap bg-parallax-wrap-gradien">
                            <div class="bg"
                                style="background-image: url('./assets/images/bg/web2.png');background-size:cover"
                                data-bg="/images/bg/web2.png"></div>
                        </div>
                        <div class="half-carousel-content">
                            <div class="hc-counter color-bg"></div>
                            <h3>Looking to <br> Finance a House?</h3>
                            <div>
                                <a routerLink="/estate-loan-options/buy-house" routerLinkActive="active"
                                    class="hero-button" tabindex="0">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- subscribe-wrap end -->

</div>
<!-- wrapper end -->